{% extends "layout.html" %}

{% block content %}

<div class="container-fluid bg-light" style="height: calc(100vh - 68px);">
    <div class="d-flex flex-column justify-content-center align-items-center pt-5">
        <img class="m-auto my-5" style="width: 400px;" src={{ url_for('static', filename='too_large.svg') }}>
        <p class="display-6 text-center">The file is too large and cannot be uploaded.</p>
        <p class="text-danger" id="note-text"><strong>Note:</strong> Maximum upload file size (2 MB)</p>
        <a href="{{ url_for('home') }}" class="btn btn-secondary mt-3" id="back-btn" style="width: 100px;"> Go Back </a>
    </div>
</div>

{% endblock content %}